# this project is using python 3.11.9 version, it is the most compatible version for rag stuff

'''
this project is using the following main technologies as its main structure:

    Firebase → Authentication & chat history storage
    Chroma → Vector DB for document embeddings
    OpenAI (Embeddings + GPT-5) → LLM & embeddings
    LangChain → RAG orchestration
    Streamlit → UI

'''

streamlit==1.28.1
firebase-admin==6.2.0
streamlit-lottie==0.0.5
chromadb==0.5.23
openai==1.51.0
langchain==0.2.0
langchain-openai==0.1.19